/* css for index.html and welcome.php */
body {
    background-color: #2A2A2A;
    color: white;
}
.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
input {
    padding: 10px;
    border-color: #000000;
}
h1 {
    text-align: center;
}
.output {
    text-align: center;
    justify-content: center;
    margin-top: 15%;
}
.bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #0DCCD1;
}

